#h5 {
    text-align: center;
    color: red;
}

#h1 {
    text-align: center;
}
#p1 {
    text-align: center;
    color: rgb(46, 45, 45);
}

.d {
    width: 326px;
    position: relative;
    left: 60px;
    display: inline-block;
}

#d1 {
    color: red;
    font-size: 70px;
}

.vagas {

}

#vh {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

